body{
    background-color: #FED5E8;
}
.top-header{
    padding: 5px;
}
.selector{
    width: 100%;
}
.preview{
    border-color: black;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 25px;
    margin: 2px;
}
.calculator{
    display: inline-block;
    width: 100%;
}
.small{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    background-color: #F2F2F2;
    float: left;
    width: 31.5%;
    margin: 0 2px;
}
.inline-4{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    background-color: #F2F2F2;
    float: left;
    width: 23.5%;
    margin: 0 2px;
}
.first-row,
.second-row,
.third-row,
.fourth-row{
    display: inline-block;
    width: 100%;
    padding-top: 2px;
}
.submit,
.acids{
    width:100%;
    height: 50px;
}
.form-label{
    width: 20%;
}
h1,
.col-md-4,
.col-md-8{
    border-style: solid;
    padding-bottom: 10px;
}
.input-acid{
    height: 56px;
}
.form-label{
    background-color: #D5FCFE;
    height: 56px;
    font-size: 16px;
    text-align: center;
    overflow: auto;
    padding: 2px;
}
.form-control,
.input-group-text{
    height: 56px;
}
h1{
    background-color: #ECD5FE;
}

